{# RECENT POSTS API #}
{% if posts %}
    <div class="BlogFeed">
        <div class="Container">
            <div class="BlogFeed-header">News</div>
            {% for post in posts %}
                <div class="BlogFeed-item">
                    <div class="grid g-2">
                        <div class="col-1-1 col-1-3-sm col-1-4-md col-1-5-lg">
                            <div class="BlogFeed-date">{{ post.publishedOnDate }}</div>
                        </div>
                        <div class="col-1-1 col-2-3-sm col-3-4-md col-4-5-lg">
                            <a href="{{ post.url }}">{{ post.postTitle }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
