/* =========================================================================== *\
    Notification banner at the top of pages
\* =========================================================================== */

:root {
    --Notification-background: var(--ContentHeader-background);
    --Notification-color: var(--ContentHeader-color);
    --Notification-link-color: var(--color-primary);
    --Notification-link-colorHover: var(--color-primary);
}

/* @define Notification */
.Notification {
    background: var(--Notification-background);
    color: var(--Notification-color);
    font-size: 1.18em; /* 26px */
    line-height: 1.2;
    padding: 25px 0;
}

/* postcss-bem-linter: ignore */
.Notification p:last-child {
    margin: 0;
}

/* postcss-bem-linter: ignore */
.Notification a {
    color: var(--Notification-link-color);
    text-decoration: underline;
}

/* postcss-bem-linter: ignore */
.Notification a:focus-visible {
    color: var(--Notification-link-colorHover);
}

@media (hover: hover) and (pointer: fine) {
    /* postcss-bem-linter: ignore */
    .Notification a:hover {
        color: var(--Notification-link-colorHover);
    }
}

.Notification-content {
    text-align: center;
    width: 100%;
}

.Notification-message {
    display: inline-block;
    padding-left: 46px;
    position: relative;
}

.Notification-message--noIcon {
    padding-left: 0;
}

.Notification-icon {
    font-size: 1.6em;
    left: 0;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
}

.Notification-close {
    margin-left: 20px;
}
