{%  include 'snippets/header' %}
{% block banner %}
    {{ _page.content('banner') }}
{% endblock %}
<div class="Container">
    <div class="Content clearfix">
        {% if _core.theme.settings.showBreadcrumb == "yes" and _page.isHome == false %}
            {{ _page.breadcrumb() }}
        {% endif %}
        {% block main %}<main id="main">{{ _page.content() }}</main>{% endblock %}
    </div>
</div>
{%  include 'snippets/footer' %}
