/* =========================================================================== *\
    File-Heading
\* =========================================================================== */

:root {
    --FeaturedText-content-fontWeight: 400;
    --FeaturedText-content-fontSize: 3rem;
    
    --FeaturedText-title-fontWeight: 700;
    --FeaturedText-title-fontSize: 1.8rem;
}

/* @define FeaturedText */
.FeaturedText {
    background-color: var(--FeaturedContent-background);
    border-radius: var(--FeaturedContent-borderRadius);
    color: var(--FeaturedContent-color);
    font-family: var(--base-typography-fontFamily);
    margin: 2em 0;
    padding: 10px;
    text-align: center;
}

.FeaturedText-content {
    font-size: var(--FeaturedText-content-fontSize);
    font-style: italic;
    font-weight: var(--FeaturedText-content-fontWeight);
    margin-bottom: 20px;
}

.FeaturedText-title {
    color: var(--FeaturedContent-title-color);
    font-size: var(--FeaturedText-title-fontSize);
    font-weight: bold;
    font-weight: var(--FeaturedText-title-fontWeight);
    padding: 0 30px;
}
