/* =========================================================================== *\
    Featured Content
\* =========================================================================== */

:root {
    --FeaturedContent-background: var(--color-primary);
    --FeaturedContent-color: #fff;
    
    /* Heading */
    --FeaturedContent-heading-color: #efdbd5;
    
    /* Button */
    --FeaturedContent-button-background: #fff;
    --FeaturedContent-button-backgroundHover: #003337;
    --FeaturedContent-button-color: var(--color-primary);
    --FeaturedContent-button-colorHover: #fff;
}

/* @define FeaturedContent */
.FeaturedContent {
    background: var(--FeaturedContent-background);
    color: var(--FeaturedContent-color);
    margin: 2em calc(var(--g-gutter) * -1);
    padding: 40px;
}

@media (--c-bp-sm) {
    .FeaturedContent {
        margin: 1.5em -10px;
    }
}

/* postcss-bem-linter: ignore */

.FeaturedContent h1,
.FeaturedContent h2,
.FeaturedContent h3,
.FeaturedContent h4,
.FeaturedContent h5,
.FeaturedContent h6,
.FeaturedContent .ContentGrid-title {
    color: var(--FeaturedContent-heading-color);
}

/* postcss-bem-linter: ignore */

.FeaturedContent .Button {
    background: var(--FeaturedContent-button-background);
    color: var(--FeaturedContent-button-color);
}

/* postcss-bem-linter: ignore */
.FeaturedContent .Button:active,
.FeaturedContent .Button:focus,
.FeaturedContent .Button:hover {
    background: var(--FeaturedContent-button-backgroundHover);
    color: var(--FeaturedContent-button-colorHover);
}
