/* =========================================================================== *\
    Default Theme
\* =========================================================================== */

/* Color Config */

:root {
    --theme-primary-color: #3379ae;
    --theme-secondary-color: #5e9fd0;
}

/* Body */

:root {
    --theme-body-background: #fff;
}

/*
   Core typography
   Serif and monospace fonts from https://css-tricks.com/snippets/css/system-font-stack/#comment-1606328
*/

:root {
    --theme-typography-color: #333;
    --theme-typography-serif: 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif;
    --them-typography-monospace: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono', 'Droid Sans Mono', 'Source Code Pro', monospace;
    --theme-typography-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --theme-typography-fontFamily: var(--theme-typography-sans-serif);
}

/* Links & Buttons */

:root {
    --theme-typography-link-color: var(--theme-primary-color);
    --theme-typography-link-colorHover: #7a0504;
    --theme-button-background: #999;
    --theme-button-background-alt: #7a0504;
    --theme-button-color: #fff;
    --theme-button-color-alt: #fff;
    --theme-button-background-hover: var(--theme-primary-color);
    --theme-button-background-hover-alt: #333;
    --theme-button-color-hover: #fff;
    --theme-button-color-hover-alt: #fff;
    --theme-button-font: var(--theme-typography-fontFamily);
}

/* Headings */

:root {
    --theme-typography-heading-color: var(--theme-primary-color);
    --theme-typography-heading-fontFamily: var(--theme-typography-fontFamily);
}

/* Main Navigation and Navigation Bar */

:root {
    --theme-navbar-bg: var(--theme-primary-color);
    --theme-nav-color: #fff;
    --theme-nav-color-hover: #fff;
    --theme-nav-item-bg: transparent;
    --theme-nav-item-bg-hover: transparent;
    --theme-nav-font: var(--theme-typography-fontFamily);
    --theme-nav-font-size: 1em;
    --theme-nav-line-height: 1.5;
    --theme-nav-dropdown-background: color(var(--theme-primary-color) shade(15%));
    --theme-nav-dropdown-color: #fff;
    --theme-nav-dropdown-color-hover: #fff;
}

/* Footer */

:root {
    --theme-footer-bg: var(--theme-primary-color);
    --theme-footer-color: #fff;
    --theme-footer-font-size: 1.5rem;
    --theme-footer-nav-font: var(--theme-typography-fontFamily);
    --theme-footer-nav-font-size: 1em;
    --theme-footer-nav-color: #fff;
    --theme-footer-nav-color-hover: #fff;
}
