/* =========================================================================== *\
    Default Theme
\* =========================================================================== */

/* Colors */
:root {
    --theme-primary-color: #008576;
    --theme-light-color: #fbdcc5;
}

/* Body */
:root {
    --theme-body-background: #fff;
}

/* Core typography */
:root {
    --theme-typography-color: #4d4d4d;
    --theme-typography-serif: 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif;
    --theme-typography-sans-serif: 'Open Sans', sans-serif;
    --theme-typography-fontFamily: var(--theme-typography-sans-serif);
}

/* Links */
:root {
    --theme-typography-link-color: var(--theme-primary-color);
    --theme-typography-link-colorHover: #005243;
}

/* Buttons */
:root {
    --theme-button-font: var(--theme-typography-fontFamily);
    --theme-button-color: #102408;
    --theme-button-hover-color: #1a390c;
    --theme-button-background: #ffa95e;
    --theme-button-hover-background: #ff9b45;
    --theme-button-alt-color: #fff;
    --theme-button-alt-hover-color: #fff;
    --theme-button-alt-background: var(--theme-primary-color);
    --theme-button-alt-hover-background: #007769;
}

/* Headings */
:root {
    --theme-typography-heading-color: var(--theme-primary-color);
    --theme-typography-heading-fontFamily: 'Asap Condensed', sans-serif;
}

/* Top Bar */
:root {
    --theme-topbar-color: var(--theme-primary-color);
}

/* Main Navigation and Navigation Bar */
:root {
    --theme-nav-font: var(--theme-typography-heading-fontFamily);
    --theme-nav-font-weight: 400;
    --theme-nav-font-size: 2.4rem;
    --theme-nav-line-height: 1.5;
    
    --theme-navbar-background: var(--theme-primary-color);
    --theme-nav-color: var(--theme-primary-color);
    --theme-nav-color-hover: var(--theme-primary-color);
    
    --theme-nav-item-background: transparent;
    --theme-nav-item-background-hover: transparent;
    
    --theme-nav-dropdown-font: var(--theme-typography-fontFamily);
    --theme-nav-dropdown-font-weight: 400;
    --theme-nav-dropdown-font-size: 1.8rem;
    
    --theme-nav-dropdown-background: #006c5f;
    --theme-nav-dropdown-color: #fff;
    --theme-nav-dropdown-color-hover: #fff;
}

/* Sidebar Navigation */
:root {
    --theme-sidenav-font: var(--theme-typography-fontFamily);
    --theme-sidenav-font-weight: 400;
    --theme-sidenav-letter-spacing: 1px;
    
    --theme-sidenav-color: #4d4d4d;
    --theme-sidenav-current-color: var(--theme-primary-color);
    --theme-sidenav-hover-background: var(--theme-primary-color);
    --theme-sidenav-hover-color: #fff;
    
    --theme-sidenav-parent-font: var(--theme-typography-heading-fontFamily);
    --theme-sidenav-parent-font-size: 2rem;
    --theme-sidenav-parent-font-weight: 400;
    --theme-sidenav-parent-letter-spacing: 1px;
    --theme-sidenav-parent-line-height: 1.3;
    
    --theme-sidenav-parent-color: var(--theme-primary-color);
}

/* Page Content Header */
:root {
    --theme-content-header-background: var(--theme-light-color);
    --theme-content-header-color: var(--theme-typography-color);
}

/* Content Grid */
:root {
    --theme-content-grid-title-color: var(--theme-primary-color);
    --theme-content-grid-title-hover-color: var(--theme-primary-color);
}

/* Featured Content */
:root {
    --theme-featured-content-background: var(--theme-primary-color);
    --theme-featured-content-heading-color: #efdbd5;
    --theme-featured-content-color: #fff;
    --theme-featured-button-background: #fff;
    --theme-featured-button-color: var(--theme-primary-color);
    --theme-featured-button-background-hover: #003337;
    --theme-featured-button-color-hover: #fff;
}

/* Full page slider */
:root {
    --theme-slider-caption-small-screen-background: var(--theme-primary-color);
}

/* Image Slider */
:root {
    --theme-image-slider-background: #f2f2f2;
    --theme-image-slider-color: var(--theme-typography-color);
    --theme-image-slider-title-background: var(--theme-primary-color);
    --theme-image-slider-title-color: #fff;
    --theme-image-slider-title-background-hover: #7a0504;
    --theme-image-slider-title-color-hover: #fff;
    --theme-image-slider-title-font-size: 1.2em;
    --theme-image-slider-title-font-weight: 300;
    --theme-image-slider-hover-background: #7a0504;
    --theme-image-slider-hover-color: #fff;
    --theme-image-slider-cover-background: rgba(162, 21, 20, .5);
    --theme-image-slider-cover-color: #fff;
}

/* Page Content Header */
:root {
    --theme-content-header-background: #f2f2f2;
    --theme-content-header-color: var(--theme-typography-color);
}

/* Content Bar */
:root {
    --theme-content-bar-background: #285585;
    --theme-content-bar-heading-color: #fcfdfe;
    --theme-content-bar-color: #fcfdfe;
    --theme-content-bar-button-background: #fcfdfe;
    --theme-content-bar-button-color: var(--theme-content-bar-background);
    --theme-content-bar-button-background-hover: #cfdff1;
    --theme-content-bar-button-color-hover: var(--theme-content-bar-background);
    --theme-content-bar-link-color: #fcfdfe;
    --theme-content-bar-link-color-hover: #fcfdfe;
}

/* Image Grid */
:root {
    --theme-image-grid-title-background: #008372;
    --theme-image-grid-title-color: #fff;
    --theme-image-grid-title-font-size: 1.2em;
    --theme-image-grid-title-font-weight: 300;
    --theme-image-grid-title-hover-background: #006a5c;
    --theme-image-grid-title-hover-color: #fff;
}

/* General Component Styles */
:root {
    --theme-component-top-margin: 20px;
}

/* Featured Content */
:root {
    --theme-feature-top-margin: 60px;
}


/* Columned Content */
:root {
    --theme-columned-content-title-background: #fff;
    --theme-columned-content-title-color: var(--theme-primary-color);
    --theme-columned-content-title-hover-background: var(--theme-primary-color);
    --theme-columned-content-title-hover-color: #fff;
}

/* Footer */
:root {
    --theme-footer-border-width: 1px;
    --theme-footer-border-color: #ececec;
    --theme-footer-border: var(--theme-footer-border-width) solid var(--theme-footer-border-color);
    --theme-footer-background: #f3f3f3;
    --theme-footer-color: #4c5c4c;
    --theme-footer-font-size: 1.5rem;
    --theme-footer-nav-font: var(--theme-typography-fontFamily);
    --theme-footer-nav-font-size: 1em;
    --theme-footer-nav-color: #4c5c4c;
    --theme-footer-nav-color-hover: #4c5c4c;
    --theme-footer-padding-vertical: 15px;
    --theme-footer-padding-horizontal: 20px;
    --theme-footer-padding: var(--theme-footer-padding-vertical) var(--theme-footer-padding-horizontal);
}
