
{% extends 'one-column.twig' %}

{% block banner %}
    {% set content %}
        <h1>{{ 'Register for ' ~ event.title }}</h1>
    {% endset %}
    {% include('content-builder/banner') %}
{% endblock %}

{% block main %}
    {{ registrationForm.content }}
{% endblock %}
