/* =========================================================================== *\
    FIELD LABEL
\* =========================================================================== */

:root {
    --FormLabel-fontWeight: 700;
}

.FormLabel {
    font-weight: var(--FormLabel-fontWeight);
}

.FormLabel--block {
    display: block;
}
