{%  include 'snippets/header' %}
{% block header %}
    {{ _page.content('header') }}
{% endblock %}
<div class="Container">
    <div class="Content u-cf">
        {% if _core.theme.settings.showBreadcrumb == "yes" and _page.isHome == false %}
            {{ _page.breadcrumb() }}
        {% endif %}
        {% block main %}{{ _page.content() }}{% endblock %}
    </div>
</div>
{%  include 'snippets/footer' %}
