/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */
.Header {
    background: var(--Header-background);
    gap: var(--Header-gap-sm);
    padding: var(--Header-padding-sm, 20px 0);
}

.Header-skipToMain {
    align-items: center;
    display: flex;
    height: 1px;
    justify-content: center;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 1px;
    z-index: 100;
}

.Header-skipToMain:focus {
    background-color: var(--Header-skipMain-background, #fff);
    color: var(--Header-skipMain-color);
    font-weight: var(-Header-skipMain-font-weight, bold);
    height: auto;
    left: 10px;
    padding: var(--Header-skipMain-padding, 5px 10px);
    text-decoration: underline;
    width: auto;
}

.Header-items {
    align-items: center;
    display: flex;
}

.Header-logo {
    margin-bottom: var(--Header-image-logo-margin-sm, 0);
    max-width: var(--Header-logo-width);
    width: 100%;
}

/* If the logo is an SVG, make sure it scales up. We set the actual width instead of a max width because SVGs can scale. */
.Header-logo[src$='.svg'] {
    height: auto;
    width: var(--Header-logo-width);
}

.Header-textLogo {
    font-size: var(--Header-text-logo-font-size-sm);
}

@media (--m-small-screen-nav) {
    .Header-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (--m-md) {
    .Header-logo {
        margin: var(--Header-image-logo-margin, 0);
    }

    .Header-textLogo {
        font-size: var(--Header-text-logo-font-size);
    }
}

@media (--m-lg) {
    .Header {
        gap: var(--Header-gap);
        padding: var(--Header-padding, 20px 0);
    }
}
