/* =========================================================================== *\
    Header top bar
\* =========================================================================== */

:root {
    --TopBar-background: var(--color-primary);
    --TopBar-color: #fff;
    --TopBar-colorHover: #fff;
    
    /* Social */
    --TopBar-social-background: #fff;
    --TopBar-social-color: #008576;
    --TopBar-social-backgroundHover: #008576;
    --TopBar-social-colorHover: #fff;
}

/* @define TopBar */
.TopBar {
    background: var(--TopBar-background);
    color: var(--TopBar-color);
    font-size: 1.6rem;
    padding: 6px 0;
}

.TopBar-contact {
    font-weight: 300;
    letter-spacing: 1px;
}

/* postcss-bem-linter: ignore */
.TopBar-contact a {
    color: inherit;
    text-decoration: none;
}

/* postcss-bem-linter: ignore */
.TopBar-contact a:focus-visible {
    color: var(--TopBar-colorHover);
}

@media (hover: hover) and (pointer: fine) {

    /* postcss-bem-linter: ignore */
    .TopBar-contact a:hover {
        color: var(--TopBar-colorHover);
    }
}

/* ------------------------------------ *\
    Social
\* ------------------------------------ */

.TopBar-social {
    line-height: 1;
}

.TopBar-socialLink {
    background: var(--TopBar-social-background);
    border-radius: 50%;
    color: var(--TopBar-social-color);
    display: inline-block;
    font-size: 1.8rem;
    height: 1.6em;
    line-height: 1;
    margin-right: 8px;
    position: relative;
    text-decoration: none;
    width: 1.6em;
}

.TopBar-socialLink:last-child {
    margin-right: 0;
}

.TopBar-socialLink:active,
.TopBar-socialLink:focus,
.TopBar-socialLink:hover {
    background: var(--TopBar-social-backgroundHover);
    color: var(--TopBar-social-colorHover);
    text-decoration: none;
}

.TopBar-socialIcon {
    left: 50%;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
