/* =========================================================================== *\
    Footer
\* =========================================================================== */


/* @define Footer */

.Footer {
    background: var(--theme-footer-background);
    border-top: var(--theme-footer-border);
    color: var(--theme-footer-color);
    font-size: var(--theme-footer-font-size);
    padding: 1.5rem var(--g-gutter);
    text-align: center;
}

@media (--c-bp-sm) {
    .Footer {
        padding: 1rem var(--g-gutter-sm);
    }
}


.Footer-link {
    color: #fff;
    text-decoration: none;
}

.Footer-link:active,
.Footer-link:focus,
.Footer-link:hover {
    color: #fff;
    text-decoration: underline;
}

.Footer-credit {
    border-left: 1px solid #fff;
    display: inline-block;
    line-height: 1;
    padding: 0 1rem;
}

.Footer-credit:first-child {
    border-left: none;
}

@media (max-width: 750px) {
    .Footer-credit {
        border-left: none;
        display: block;
        line-height: 1.5;
        padding: 0;
    }
}
