/* =========================================================================== *\
    Global Variable Configurations
\* =========================================================================== */

/* Primary navigation breakpoints */
@custom-media --m-small-screen-nav (max-width: 1050px);
@custom-media --m-large-screen-nav (min-width: 1051px);

/* Core variables */
:root {
    --g-gutter: 20px;
    --g-gutter-sm: 10px;

    /* Fallbacks for Theme Styles */
    --color-primary: #008576;
    --color-light: #fbdcc5;
}
