/* =========================================================================== *\
    Content Grid
\* =========================================================================== */

:root {
    --ContentGrid-title-color: var(--color-primary);
    --ContentGrid-title-colorHover: var(--color-primary);
    --ContentGrid-marginTop: 20px;
}

/* @define ContentGrid */
.ContentGrid {
    margin-top: var(--ContentGrid-marginTop);
}

.ContentGrid-cell {
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.ContentGrid-item {
    position: relative;
}


.ContentGrid-link {
    color: inherit;
    display: block;
    text-decoration: none;
}

.ContentGrid-link:active,
.ContentGrid-link:focus,
.ContentGrid-link:hover {
    color: var(--ContentGrid-title-colorHover);
    text-decoration: none;
}

.ContentGrid-link:active,
.ContentGrid-link:focus,
.ContentGrid-link:hover {
    text-decoration: none;
}

.ContentGrid-title {
    color: var(--ContentGrid-title-color);
    font-family: var(--base-typography-heading-fontFamily);
    font-size: var(--base-typography-h3-fontSize);
    font-size: var(--base-typography-h3-lineHeight);
}

/* postcss-bem-linter: ignore */
.FeaturedContent .ContentGrid-title {
    color: var(--FeaturedContent-heading-color);
}
