/* =========================================================================== *\
    Photo Grid component
\* =========================================================================== */


/* @define ImageGrid */

.ImageGrid {

}

.ImageGrid-col {
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.ImageGrid-item {
    position: relative;
}

.ImageGrid-link {
    text-decoration: none;
}

.ImageGrid-link:active,
.ImageGrid-link:focus,
.ImageGrid-link:hover {
    text-decoration: none;
}

.ImageGrid-image {
    height: auto;
    width: 100%;
}

@supports (object-fit: cover) {
    .ImageGrid-col {
        display: flex;
        flex-direction: column;
    }

    .ImageGrid-item {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }

    .ImageGrid-image {
        flex: 1 1 auto;
        object-fit: cover;
    }
}

.ImageGrid-title {
    box-sizing: border-box;
    font-size: var(--theme-image-grid-title-font-size);
    font-weight: var(--theme-image-grid-title-font-weight);
    padding: 0 8px;
    text-align: center;
    width: 100%;
}

@media (--c-bp-lg) {
    .ImageGrid-title {
        font-size: 1em;
    }
}

.ImageGrid-title--center {
    color: #fff;
    position: absolute;
    text-shadow: 0 0 5px rgba(0, 0, 0, .8);
    top: 50%;
}

.ImageGrid-title--bottom {
    bottom: 0;
    position: absolute;
}

.ImageGrid-title--above,
.ImageGrid-title--below,
.ImageGrid-title--bottom {
    background: var(--theme-image-grid-title-background);
    color: var(--theme-image-grid-title-color);
    padding: 8px;
}

.ImageGrid-link:active .ImageGrid-title--above,
.ImageGrid-link:focus .ImageGrid-title--above,
.ImageGrid-link:hover .ImageGrid-title--above,
.ImageGrid-link:active .ImageGrid-title--below,
.ImageGrid-link:focus .ImageGrid-title--below,
.ImageGrid-link:hover .ImageGrid-title--below,
.ImageGrid-link:active .ImageGrid-title--bottom,
.ImageGrid-link:focus .ImageGrid-title--bottom,
.ImageGrid-link:hover .ImageGrid-title--bottom {
    background: var(--theme-image-grid-title-hover-background);
    color: var(--theme-image-grid-title-hover-color);
}

/* ------------------------------------ *\
    Image Grid Hover
\* ------------------------------------ */

.ImageGrid-hover {
    position: relative;
}

.ImageGrid-content {
    background: var(--theme-image-grid-title-background);
    box-sizing: border-box;
    color: var(--theme-image-grid-title-color);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.ImageGrid-contentInner {
    box-sizing: border-box;
    left: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.ImageGrid-contentHeading {
    font-size: var(--theme-image-grid-title-font-size);
    font-weight: var(--theme-image-grid-title-font-weight);
    margin-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}

.ImageGrid-contentHeading::after {
    border-top: 1px solid var(--theme-image-grid-title-color);
    bottom: -4px;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 10%;
}

.ImageGrid-contentWrap {
    font-size: 1.5rem;
}

.ImageGrid-hover:hover .ImageGrid-content {
    display: block;
}
