<div class="grid g-4">
    {% for column in columns %}
        <div class="u-size1of3 u-md-sizeFull u-md-margBottom2">
            {% for element in column.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
