<div class="grid g-4">
    {% for column in columns %}
        <div class="col-1-1 col-md-1-5">
            {% for element in column.elements %}
                {{ element.content }}
            {% endfor %}
        </div>
    {% endfor %}
</div>
