{% if faqs|length > 0 %}
    <div class="Container Container--pad" itemscope itemtype="https://schema.org/FAQPage">
        {% for item in faqs %}
            <div class="Accordion js-accordion" data-collapsed="{% if expandFirstItem and loop.index == 1 %}no{% else %}initial{% endif %}" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <div class="Accordion-heading js-accordionHeading">
                    <h3 class="Accordion-title" itemprop="name">{{ item.question }}</h3>
                    <span class="Accordion-icon"></span>
                </div>
                <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div class="Accordion-content clearfix last-child-mb-0 js-accordionContent" itemprop="text">{{ item.answer }}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
