<div class="embed mb-2">
    <div class="aspect-{{ embedRatio }}"></div>
    <iframe class="" title="{{ "Iframe Embed " ~ embedRatio }}" frameborder="0" allowfullscreen src="{{ iframeTag.src }}" loading="lazy"></iframe>
</div>
