/* =========================================================================== *\
    Content bar that goes around content displayed full width
\* =========================================================================== */

:root {
    --ContentBar-background: #285585;
    --ContentBar-heading-color: #fcfdfe;
    --ContentBar-color: #fcfdfe;
    --ContentBar-button-background: #fcfdfe;
    --ContentBar-button-color: var(--ContentBar-background);
    --ContentBar-button-background-hover: #cfdff1;
    --ContentBar-button-color-hover: var(--ContentBar-background);
    --ContentBar-link-color: #fcfdfe;
    --ContentBar-link-color-hover: #fcfdfe;
}

/* @define ContentBar */
.ContentBar {
    background: #fff;
    padding: 20px 0;
}

.ContentBar--spaceSmall {
    padding: 20px 0;
}

.ContentBar--spaceMedium {
    padding: 50px 0;
}

.ContentBar--spaceLarge {
    padding: 80px 0;
}

.ContentBar--light {
    background: #f7f9fc;
}

.ContentBar--dark {
    background: var(--ContentBar-background);
    color: var(--ContentBar-color);
}

/* postcss-bem-linter: ignore */

.ContentBar--dark h1,
.ContentBar--dark h2,
.ContentBar--dark h3,
.ContentBar--dark h4,
.ContentBar--dark h5,
.ContentBar--dark h6,
.ContentBar--dark .ContentGrid-title {
    color: var(--ContentBar-heading-color);
}

/* postcss-bem-linter: ignore */

.ContentBar--dark a {
    color: var(--ContentBar-link-color);
}

/* postcss-bem-linter: ignore */

.ContentBar--dark a:active,
.ContentBar--dark a:focus,
.ContentBar--dark a:hover {
    color: var(--ContentBar-link-color-hover);
}

/* postcss-bem-linter: ignore */

.ContentBar--dark .Button {
    background: var(--ContentBar-button-background);
    color: var(--ContentBar-button-color);
}

/* postcss-bem-linter: ignore */

.ContentBar--dark .Button:active,
.ContentBar--dark .Button:focus,
.ContentBar--dark .Button:hover {
    background: var(--ContentBar-button-background-hover);
    color: var(--ContentBar-button-color-hover);
}

/* postcss-bem-linter: ignore */
.ContentBar--dark .u-headingCentered::after {
    background: #fff;
}
