/* =========================================================================== *\
    Content
\* =========================================================================== */


/* @define Content */

.Content {
    background: #fff;
    padding: 1rem var(--g-gutter) 2rem;
}


@media (--c-bp-sm) {
    .Content {
        padding: var(--g-gutter-sm);
    }
}
