/* =========================================================================== *\
    Content
    To be used as a wrapper around content for padding
    <div class="Container">
        <div class="Content">{{ _page.content() }}</div>
    </div>
\* =========================================================================== */

:root {
    --Content-background: #fff;
}

/* @define Content */
.Content {
    background: var(--Content-background);
    padding: 1rem var(--g-gutter) 2rem;
}

@media (--m-sm) {
    .Content {
        padding: var(--g-gutter-sm);
    }
}
