/* =========================================================================== *\
    Content
    To be used as a wrapper around content for padding
    <div class="Container">
        <div class="Content">{{ _page.content() }}</div>
    </div>
\* =========================================================================== */

/* @define Content */
.Content {
    background: var(--Content-background);
    padding: var(--Content-padding-sm);
}

@media (--m-sm) {
    .Content {
        padding: var(--Content-padding);
    }
}
