/* =========================================================================== *\
    Content Header at the top of pages
\* =========================================================================== */

:root {
    --ContentHeader-background: var(--color-light);
    --ContentHeader-color: var(--base-typography-color);
    --ContentHeader-title-textTransform: uppercase;
}

/* @define ContentHeader */
.ContentHeader {
    background: var(--ContentHeader-background);
    color: var(--ContentHeader-color);
    margin-bottom: var(--base-typography-spacing);
    padding: 25px;
    text-align: center;
}

.ContentHeader-title {
    color: var(--ContentHeader-color);
    font-size: 2em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    position: relative;
    text-transform: var(--ContentHeader-title-textTransform);
}

.ContentHeader-content {
    margin-top: 10px;
}

/* postcss-bem-linter: ignore */
.ContentHeader-content > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
