/* =========================================================================== *\
    MAIN NAVIGATION BAR
\* =========================================================================== */

:root {
    --NavBar-background: var(--color-primary);
}

/** @define NavBar */
.NavBar {
    background: var(--NavBar-background);
    color: var(--MainNav-link-color);
}
