/* =========================================================================== *\
    Footer Navigation
\* =========================================================================== */

/** @define FooterNav */
:root {
    --FooterNav-fontSize: var(--Footer-nav-font-size);
    --FooterNav-lineHeight: 1;
    --FooterNav-textTransform: uppercase;
    --FooterNav-link-color: var(--Footer-nav-color);
    --FooterNav-link-colorHover: var(--Footer-nav-color-hover);
}

/**
 * Base menu
 */

.FooterNav {
    box-sizing: border-box;
    font-family: var(--Footer-nav-font);
    font-size: var(--FooterNav-fontSize);
    line-height: var(--FooterNav-lineHeight);
    list-style: none;
    margin: 10px 0 30px;
    padding: 0;
}

/**
 * Items
 */

.FooterNav-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 8px;
}

.FooterNav-item:last-child {
    margin-right: 0;
}

/**
 * Links
 */

.FooterNav-link {
    box-sizing: border-box;
    color: var(--FooterNav-link-color);
    display: block;
    text-decoration: none;
    text-transform: var(--FooterNav-textTransform);
}

.FooterNav-link:hover {
    color: var(--FooterNav-link-colorHover);
    text-decoration: underline;
}


@media (--c-bp-md) {
    .FooterNav-item {
        display: block;
        margin: 12px 0;
    }
}
