/* ==========================================================================
   Main Navigation
   ========================================================================== */

/** @define MainNav */

:root {
    --MainNav-fontFamily: var(--base-typography-heading-fontFamily);
    --MainNav-fontSize: 2.4rem;
    --MainNav-fontWeight: 400;
    --MainNav-lineHeight: 1.5;
    --MainNav-link-textTransform: uppercase;
    --MainNav-link-background: transparent;
    --MainNav-link-backgroundHover: transparent;
    --MainNav-link-color: var(--color-primary);
    --MainNav-link-colorHover: var(--color-primary);
    --MainNav-link-paddingVertical: 10px;
    --MainNav-link-paddingHorizontal: 30px;
}

/**
 * Base menu
 */

.MainNav {
    box-sizing: border-box;
    display: inline-block;
    line-height: var(--MainNav-lineHeight);
    list-style: none;
    margin: 0;
    padding: 0;
}

@media(--c-bp-largeScreenNav) {
    .MainNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: right;
    }
    
    .MainNav-item {
        flex-shrink: 0;
    }
}

/**
 * Items
 */

.MainNav-item {
    box-sizing: border-box;
    display: inline-block;
}

/** Item that should only be shown in the small screen navigation **/

.MainNav-item--smallScreen {
    display: none;
}

@media (--c-bp-smallScreenNav) {
    .MainNav {
        grid-column: 1 / span 2;
    }
    
    .MainNav-item--smallScreen {
        display: block;
    }
}

@media (--c-bp-md) {
    .MainNav {
        grid-column: 1 / span 1;
    }
}

/**
 * Links
 */

.MainNav-link {
    background: var(--MainNav-link-background);
    box-sizing: border-box;
    color: var(--MainNav-link-color);
    display: block;
    font-family: var(--MainNav-fontFamily);
    font-size: var(--MainNav-fontSize);
    font-weight: var(--MainNav-fontWeight);
    letter-spacing: 1px;
    line-height: var(--MainNav-lineHeight);
    padding: var(--MainNav-link-paddingVertical) var(--MainNav-link-paddingHorizontal);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: var(--MainNav-link-textTransform);
}

@media (--c-bp-largeScreenNav) {
    .MainNav-item.is-current > .MainNav-link,
    .MainNav-item.is-currentParent > .MainNav-link,
    .MainNav-item:hover > .MainNav-link {
        background: var(--MainNav-link-backgroundHover);
        color: var(--MainNav-link-colorHover);
        text-decoration: none;
    }

    .MainNav-item.is-current > .MainNav-link::after,
    .MainNav-item.is-currentParent > .MainNav-link::after,
    .MainNav-item:hover > .MainNav-link::after {
        border-top: 1px solid var(--MainNav-link-colorHover);
        bottom: -1px;
        content: '';
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 45px;
    }

    /* postcss-bem-linter: ignore */

    .MainNav-item.Dropdown:hover > .MainNav-link::after {
        display: none;
    }
}
