/* =========================================================================== *\
    SIDEBAR NAVIGATION
\* =========================================================================== */


/** @define SidebarNav */

.SidebarNav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.SidebarNav-item {
    margin: 2px 0;
    padding: 0;
}

.SidebarNav-link {
    color: var(--theme-sidenav-color);
    display: block;
    font-family: var(--theme-sidenav-font);
    font-weight: var(--theme-sidenav-font-weight);
    letter-spacing: var(--theme-sidenav-letter-spacing);
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
}

.SidebarNav-link--isParent {
    border-bottom: 1px solid var(--theme-sidenav-parent-color);
    color: var(--theme-sidenav-parent-color);
    font-family: var(--theme-sidenav-parent-font);
    font-size: var(--theme-sidenav-parent-font-size);
    font-weight: var(--theme-sidenav-parent-font-weight);
    letter-spacing: var(--theme-sidenav-parent-letter-spacing);
    line-height: var(--theme-sidenav-parent-line-height);
    margin-bottom: 8px;
    text-transform: uppercase;
}

.SidebarNav-link:active,
.SidebarNav-link:focus,
.SidebarNav-link:hover {
    background: var(--theme-sidenav-hover-background);
    color: var(--theme-sidenav-hover-color);
    text-decoration: none;
}

.SidebarNav-link.is-current,
.SidebarNav-link.is-currentParent {
    color: var(--theme-sidenav-current-color);
    text-decoration: none;
}

.SidebarNav-link.is-current:active,
.SidebarNav-link.is-current:focus,
.SidebarNav-link.is-current:hover,
.SidebarNav-link.is-currentParent:active,
.SidebarNav-link.is-currentParent:focus,
.SidebarNav-link.is-currentParent:hover {
    background: var(--theme-sidenav-hover-background);
    color: var(--theme-sidenav-hover-color);
    text-decoration: none;
}

.SidebarNav-link--isParent.is-current,
.SidebarNav-link--isParent.is-currentParent {
    background: transparent;
    color: var(--theme-sidenav-color);
}
