/* =========================================================================== *\
    Sidebar Navigation
\* =========================================================================== */

/* @define SidebarNav */
.SidebarNav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.SidebarNav-item {
    margin: 2px 0;
    padding: 0;
}

.SidebarNav-link {
    color: var(--SidebarNav-color);
    display: block;
    font-family: var(--SidebarNav-fontFamily);
    font-weight: var(--SidebarNav-fontWeight);
    letter-spacing: var(--SidebarNav-letterSpacing);
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
}

.SidebarNav-link--isParent {
    border-bottom: 1px solid var(--SidebarNav-parent-color);
    color: var(--SidebarNav-parent-color);
    font-family: var(--SidebarNav-parent-fontFamily);
    font-size: var(--SidebarNav-parent-fontSize);
    font-weight: var(--SidebarNav-parent-fontWeight);
    letter-spacing: var(--SidebarNav-parent-letterSpacing);
    line-height: var(--SidebarNav-parent-lineHeight);
    margin-bottom: 8px;
    text-transform: uppercase;
}

.SidebarNav-link:active,
.SidebarNav-link:focus,
.SidebarNav-link:hover {
    background: var(--SidebarNav-backgroundHover);
    color: var(--SidebarNav-colorHover);
    text-decoration: none;
}

.SidebarNav-link.is-current,
.SidebarNav-link.is-currentParent {
    color: var(--SidebarNav-current-color);
    text-decoration: none;
}

.SidebarNav-link.is-current:active,
.SidebarNav-link.is-current:focus,
.SidebarNav-link.is-current:hover,
.SidebarNav-link.is-currentParent:active,
.SidebarNav-link.is-currentParent:focus,
.SidebarNav-link.is-currentParent:hover {
    background: var(--SidebarNav-backgroundHover);
    color: var(--SidebarNav-colorHover);
    text-decoration: none;
}

.SidebarNav-link--isParent.is-current,
.SidebarNav-link--isParent.is-currentParent {
    background: transparent;
    color: var(--SidebarNav-parent-color);
}
