<div class="FlexEmbed u-margBottom2">
    <div class="FlexEmbed-ratio FlexEmbed-ratio--{{ embedRatio }}"></div>
    <iframe class="FlexEmbed-content" title="{{ "Iframe Embed " ~ embedRatio }}" frameborder="0" allowfullscreen src="{{ iframeTag.src }}" loading="lazy"></iframe>
</div>
